.wrapper-auth {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding-bottom: 1rem;
  margin-top: 8rem;
}
.wrapper-auth h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.wrapper-auth form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-bottom: 1rem;
}
.wrapper-auth form div {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.wrapper-auth form button {
  width: 10rem;
  margin-left: auto;
  background-color: #5F9EA0;
  color: white;
}
.wrapper-auth h3 {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.wrapper-auth h3 i {
  text-decoration: underline;
  font-style: normal;
}
.wrapper-auth h3 i:hover {
  cursor: pointer;
  color: #5F9EA0;
}

@media screen and (max-width: 820px) {
  .wrapper-auth h3 {
    font-size: 1.1rem;
  }
}
.validation-error {
  background-color: #5F9EA0;
  color: whitesmoke;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}